<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TwinglyApi15Url" value="https://data.twingly.net/socialfeed/a/api/v1.5/"/>
    <add key="TwinglyApiKey" value="2A4CF6A4-4968-46EF-862F-2881EF597A55"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
