USE [ScrapyWeb]
GO
ALTER TABLE [dbo].[TweetSet] DROP CONSTRAINT [DF_TweetSet_DateDownload]
GO
/****** Object:  Table [dbo].[TwitterApplications]    Script Date: 3/9/2017 4:47:57 PM ******/
DROP TABLE [dbo].[TwitterApplications]
GO
/****** Object:  Table [dbo].[TweetSet]    Script Date: 3/9/2017 4:47:57 PM ******/
DROP TABLE [dbo].[TweetSet]
GO
/****** Object:  Table [dbo].[FBGroups]    Script Date: 3/9/2017 4:47:57 PM ******/
DROP TABLE [dbo].[FBGroups]
GO
/****** Object:  Table [dbo].[FBApplications]    Script Date: 3/9/2017 4:47:57 PM ******/
DROP TABLE [dbo].[FBApplications]
GO
/****** Object:  Table [dbo].[FacebookGroupFeed]    Script Date: 3/9/2017 4:47:57 PM ******/
DROP TABLE [dbo].[FacebookGroupFeed]
GO
USE [master]
GO
/****** Object:  Database [ScrapyWeb]    Script Date: 3/9/2017 4:47:57 PM ******/
DROP DATABASE [ScrapyWeb]
GO
/****** Object:  Database [ScrapyWeb]    Script Date: 3/9/2017 4:47:57 PM ******/
CREATE DATABASE [ScrapyWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ScrapyWeb', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ScrapyWeb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ScrapyWeb_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ScrapyWeb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ScrapyWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ScrapyWeb]
GO
/****** Object:  Table [dbo].[FacebookGroupFeed]    Script Date: 3/9/2017 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FacebookGroupFeed](
	[GroupPostId] [varchar](150) NOT NULL,
	[PostText] [nvarchar](max) NOT NULL,
	[UpdatedTime] [datetime] NOT NULL,
 CONSTRAINT [PK_FacebookGroupFeed] PRIMARY KEY CLUSTERED 
(
	[GroupPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FBApplications]    Script Date: 3/9/2017 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FBApplications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationName] [varchar](50) NOT NULL,
	[FbAppId] [varchar](50) NOT NULL,
	[FbAppSecret] [varchar](150) NOT NULL,
 CONSTRAINT [PK_FBApplications] PRIMARY KEY CLUSTERED 
(
	[FbAppId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FBGroups]    Script Date: 3/9/2017 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FBGroups](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[FbGroupId] [varchar](50) NOT NULL,
	[GroupName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FBGroups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TweetSet]    Script Date: 3/9/2017 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TweetSet](
	[Tweet_Id] [varchar](150) NOT NULL,
	[TweetText] [nvarchar](150) NOT NULL,
	[DateDownload] [datetime] NOT NULL,
	[DateCreated] [datetime] NULL,
	[HashTags] [nvarchar](150) NULL,
	[Mentions] [nvarchar](150) NULL,
	[UserId] [varchar](50) NULL,
	[ScreenName] [nvarchar](50) NULL,
	[FollowersCount] [int] NULL,
	[FriendsCouunt] [int] NULL,
	[PlaceName] [varchar](50) NULL,
	[PlaceId] [varchar](50) NULL,
	[LatLong] [varchar](100) NULL,
	[Language] [varchar](50) NULL,
 CONSTRAINT [PK_TweetSet] PRIMARY KEY CLUSTERED 
(
	[Tweet_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TwitterApplications]    Script Date: 3/9/2017 4:47:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TwitterApplications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationName] [varchar](150) NOT NULL,
	[ConsumerKey] [varchar](150) NOT NULL,
	[ConsumerSecret] [varchar](150) NOT NULL,
	[AccessToken] [varchar](150) NOT NULL,
	[AccessTokenSecret] [varchar](150) NOT NULL,
 CONSTRAINT [PK_TwitterApplications] PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FBApplications] ON 

INSERT [dbo].[FBApplications] ([ApplicationId], [ApplicationName], [FbAppId], [FbAppSecret]) VALUES (1, N'ScrapyWeb', N'360921534307030', N'e7622d158d04babc3bdc5e5687174040')
SET IDENTITY_INSERT [dbo].[FBApplications] OFF
INSERT [dbo].[TweetSet] ([Tweet_Id], [TweetText], [DateDownload], [DateCreated], [HashTags], [Mentions], [UserId], [ScreenName], [FollowersCount], [FriendsCouunt], [PlaceName], [PlaceId], [LatLong], [Language]) VALUES (N'792693117090533376', N'منصة WIX ترد على اتهامات Wordpress لها بالسرقة: يوم بعد اتهام شركة wix من قبل مدير شركة wordpress الذي أكد في... https://t.co/nC9m5EqCjX', CAST(0x0000A730000136F4 AS DateTime), CAST(0x0000A6AF00C0E7FC AS DateTime), N'', N'', N'148801404', N'mr_raghib', 64819, 83, NULL, NULL, NULL, N'ar')
INSERT [dbo].[TweetSet] ([Tweet_Id], [TweetText], [DateDownload], [DateCreated], [HashTags], [Mentions], [UserId], [ScreenName], [FollowersCount], [FriendsCouunt], [PlaceName], [PlaceId], [LatLong], [Language]) VALUES (N'792727329646661632', N'اعتقال فتى يبلغ 18 سنة  في الولايات المتحدة بتهمة العبث بنظام الطوارئ: قالت سلطات ولاية أريزونا أنها اعتقلت م... https://t.co/cDXz6dsOPD', CAST(0x0000A730000136E6 AS DateTime), CAST(0x0000A6AF00E63EF8 AS DateTime), N'', N'', N'148801404', N'mr_raghib', 64819, 83, NULL, NULL, NULL, N'ar')
INSERT [dbo].[TweetSet] ([Tweet_Id], [TweetText], [DateDownload], [DateCreated], [HashTags], [Mentions], [UserId], [ScreenName], [FollowersCount], [FriendsCouunt], [PlaceName], [PlaceId], [LatLong], [Language]) VALUES (N'792743973001408513', N'ذكاء اصطناعي من غوغل يقوم بتشفير البيانات من تلقاء نفسه !!: اعتبرت إنجما قمة التطور والتقدم التكنلوجي في مجال... https://t.co/TgWcNJQ38v', CAST(0x0000A730000136E2 AS DateTime), CAST(0x0000A6AF00F868F8 AS DateTime), N'', N'', N'148801404', N'mr_raghib', 64819, 83, NULL, NULL, NULL, N'ar')
GO
SET IDENTITY_INSERT [dbo].[TwitterApplications] ON 

INSERT [dbo].[TwitterApplications] ([ApplicationId], [ApplicationName], [ConsumerKey], [ConsumerSecret], [AccessToken], [AccessTokenSecret]) VALUES (1, N'ScrapyWeb', N'cknU1MnnygAjvrCeO0AEFDuYr', N'H5JKn0dNwyrKgN5N3PzAdOvspSj9j83N9Cbip2M7ksFyFbeYFu', N'182905682-HthaaicXrtztzUplboIHeM0zrBJmDFL1Q64JEmxQ', N'F8SEemZQ63bApEKh2JV00OINw1FqiZ0Sel1qZLXpyq18q')
INSERT [dbo].[TwitterApplications] ([ApplicationId], [ApplicationName], [ConsumerKey], [ConsumerSecret], [AccessToken], [AccessTokenSecret]) VALUES (2, N'Test App1', N'cknU1MnnygAjvrCeO0AEFDuYr', N'H5JKn0dNwyrKgN5N3PzAdOvspSj9j83N9Cbip2M7ksFyFbeYFu', N'182905682-HthaaicXrtztzUplboIHeM0zrBJmDFL1Q64JEmxQ', N'F8SEemZQ63bApEKh2JV00OINw1FqiZ0Sel1qZLXpyq18q')
SET IDENTITY_INSERT [dbo].[TwitterApplications] OFF
ALTER TABLE [dbo].[TweetSet] ADD  CONSTRAINT [DF_TweetSet_DateDownload]  DEFAULT (getdate()) FOR [DateDownload]
GO
USE [master]
GO
